/.idea/
.DS_Store
*.pyc
/credentials.py
/configuration.py
/content/*
!content/database/
!content/file_system/
!content/charts/
content/database/*
content/file_system/*
content/charts/*
/backup/
/environment.yml
/debug/
/chroma.log
/.env
/bin/env.sh
