/.idea/
.DS_Store
*.pyc
/credentials.py
/configuration.py
/content/*
/content.toptal.backup/*
/backup/
/environment.yml
/debug/
/chroma.log
/.env
/bin/env.sh
/app/v2env/
/nurai/credentials.py
/nurai/.env
