/.idea/
/credentials.py
/configuration.py
/old/
/confluence_integration/context/
/confluence_integration/old/
/confluence_integration/page_content.json
/vector/db/
/database/confluence_data.db
/content/file_system/
/content/databaseconfluence_data.db
/content/
.DS_Store
*.pyc
/processed_ids.json
/slack/processed_ids.json
/content.Toptal/database/.include
/content.Toptal/file_system/.include
/content.Toptal/transactional/.include
/content.Toptal/file_system/435519579.txt
/content.Toptal/file_system/436241002.txt
/content.Toptal/file_system/445220078.txt
/content.Toptal/file_system/446857482.txt
/content.Toptal/file_system/466714752.txt
/content.Toptal/file_system/467042569.txt
/content.Toptal/file_system/467042582.txt
/content.Toptal/file_system/467765453.txt
/content.Toptal/file_system/468157168.txt
/content.Toptal/file_system/473891005.txt
/content.Toptal/file_system/474284168.txt
/content.Toptal/file_system/484048957.txt
/content.Toptal/file_system/485458244.txt
/content.Toptal/file_system/499122854.txt
/content.Toptal/file_system/499156345.txt
/content.Toptal/file_system/504136759.txt
/content.Toptal/file_system/504168792.txt
/content.Toptal/file_system/542179453.txt
/content.Toptal/file_system/586744051.txt
/content.Toptal/file_system/586940659.txt
/content.Toptal/file_system/586973367.txt
/content.Toptal/file_system/600113721.txt
/content.Toptal/file_system/638026967.txt
/content.Toptal/file_system/640811107.txt
/content.Toptal/file_system/733937773.txt
/content.Toptal/file_system/748126399.txt
/content.Toptal/file_system/754778280.txt
/content.Toptal/file_system/772276225.txt
/content.Toptal/file_system/775127681.txt
/content.Toptal/file_system/780009896.txt
/content.Toptal/file_system/826049280.txt
/content.Toptal/file_system/881590669.txt
/content.Toptal/file_system/902398506.txt
/content.Toptal/file_system/909541694.txt
/content.Toptal/file_system/948175291.txt
/content.Toptal/file_system/1006863094.txt
/content.Toptal/file_system/1006864554.txt
/content.Toptal/file_system/1006895991.txt
/content.Toptal/file_system/1044054074.txt
/content.Toptal/file_system/1052704983.txt
/content.Toptal/file_system/1056178815.txt
/content.Toptal/file_system/1058111617.txt
/content.Toptal/file_system/1069547539.txt
/content.Toptal/file_system/1080263593.txt
/content.Toptal/file_system/1106117356.txt
/content.Toptal/file_system/1115488956.txt
/content.Toptal/file_system/1118765426.txt
/content.Toptal/file_system/1211564258.txt
/content.Toptal/file_system/1227915420.txt
/content.Toptal/file_system/1234535234.txt
/content.Toptal/file_system/1271824807.txt
/content.Toptal/file_system/1271824821.txt
/content.Toptal/file_system/1271824828.txt
/content.Toptal/file_system/1271890250.txt
/content.Toptal/file_system/1301512289.txt
/content.Toptal/file_system/1301676049.txt
/content.Toptal/file_system/1315832914.txt
/content.Toptal/file_system/1316749990.txt
/content.Toptal/file_system/1335067934.txt
/content.Toptal/file_system/1372291351.txt
/content.Toptal/file_system/1419640962.txt
/content.Toptal/file_system/1432913231.txt
/content.Toptal/file_system/1489895794.txt
/content.Toptal/file_system/1516241985.txt
/content.Toptal/file_system/1518895147.txt
/content.Toptal/file_system/1518895188.txt
/content.Toptal/file_system/1518993444.txt
/content.Toptal/file_system/1519222787.txt
/content.Toptal/file_system/1576796419.txt
/content.Toptal/file_system/1828455936.txt
/content.Toptal/file_system/1866498952.txt
/content.Toptal/file_system/1930035321.txt
/content.Toptal/file_system/1934950514.txt
/content.Toptal/file_system/1949991090.txt
/content.Toptal/file_system/1950089574.txt
/content.Toptal/file_system/1950384240.txt
/content.Toptal/file_system/1955694119.txt
/content.Toptal/file_system/1971945477.txt
/content.Toptal/file_system/1979547787.txt
/content.Toptal/file_system/1987510892.txt
/content.Toptal/file_system/2034729113.txt
/content.Toptal/file_system/2087977039.txt
/content.Toptal/file_system/2101708595.txt
/content.Toptal/file_system/2103674153.txt
/content.Toptal/file_system/2148270239.txt
/content.Toptal/file_system/2153873600.txt
/content.Toptal/file_system/2173305659.txt
/content.Toptal/file_system/2173338454.txt
/content.Toptal/file_system/2175729799.txt
/content.Toptal/file_system/2183561446.txt
/content.Toptal/file_system/2183725249.txt
/content.Toptal/file_system/2185660353.txt
/content.Toptal/file_system/2192801973.txt
/content.Toptal/file_system/2198995004.txt
/content.Toptal/file_system/2301526449.txt
/content.Toptal/file_system/2308146208.txt
/content.Toptal/file_system/2309685253.txt
/content.Toptal/file_system/2375942413.txt
/content.Toptal/file_system/2377154719.txt
/content.Toptal/file_system/2396389410.txt
/content.Toptal/file_system/2465857616.txt
/content.Toptal/file_system/2466316289.txt
/content.Toptal/file_system/2509307961.txt
/content.Toptal/file_system/2509570343.txt
/content.Toptal/file_system/2563899831.txt
/content.Toptal/file_system/2563997742.txt
/content.Toptal/file_system/2570584110.txt
/content.Toptal/file_system/2612887648.txt
/content.Toptal/file_system/2628944282.txt
/content.Toptal/file_system/2651783280.txt
/content.Toptal/file_system/2666954849.txt
/content.Toptal/file_system/2667118742.txt
/content.Toptal/file_system/2667315311.txt
/content.Toptal/file_system/2673901956.txt
/content.Toptal/file_system/2682126365.txt
/content.Toptal/file_system/2689105988.txt
/content.Toptal/file_system/2695823438.txt
/content.Toptal/file_system/2696774090.txt
/content.Toptal/file_system/2700148749.txt
/content.Toptal/file_system/2715746446.txt
/content.Toptal/file_system/2716041388.txt
/content.Toptal/file_system/2717122649.txt
/content.Toptal/file_system/2720759938.txt
/content.Toptal/file_system/2721054767.txt
/content.Toptal/file_system/2723217513.txt
/content.Toptal/file_system/2736128128.txt
/content.Toptal/file_system/2736259082.txt
/content.Toptal/file_system/2756837436.txt
/content.Toptal/file_system/2763128882.txt
/content.Toptal/file_system/2769029491.txt
/content.Toptal/file_system/2772697345.txt
/content.Toptal/file_system/2788360193.txt
/content.Toptal/file_system/2793504803.txt
/content.Toptal/file_system/2820604360.txt
/content.Toptal/file_system/2823847962.txt
/content.Toptal/file_system/2824208391.txt
/content.Toptal/file_system/2827125014.txt
/content.Toptal/file_system/2828796144.txt
/content.Toptal/file_system/2840395955.txt
/content.Toptal/file_system/2858943185.txt
/content.Toptal/file_system/2861596691.txt
/content.Toptal/file_system/2864447513.txt
/content.Toptal/file_system/2881028097.txt
/content.Toptal/file_system/2920284351.txt
/content.Toptal/file_system/2921365551.txt
/content.Toptal/file_system/2922414095.txt
/content.Toptal/file_system/2927755360.txt
/content.Toptal/file_system/2968584193.txt
/content.Toptal/file_system/3007578370.txt
/content.Toptal/file_system/3027534100.txt
/content.Toptal/file_system/3039330492.txt
/content.Toptal/file_system/3075211578.txt
/content.Toptal/file_system/3075440984.txt
/content.Toptal/file_system/3075965144.txt
/content.Toptal/file_system/3085861658.txt
/content.Toptal/file_system/3088023553.txt
/content.Toptal/file_system/3098443779.txt
/content.Toptal/file_system/3107749896.txt
/content.Toptal/file_system/3141306879.txt
/content.Toptal/file_system/3152380594.txt
/content.Toptal/file_system/3162014114.txt
/content.Toptal/file_system/3164307547.txt
/content.Toptal/file_system/3165094074.txt
/content.Toptal/file_system/3182134173.txt
/content.Toptal/file_system/3188326704.txt
/content.Toptal/file_system/3199566240.txt
/content.Toptal/file_system/3201040714.txt
/content.Toptal/file_system/3222768500.txt
/content.Toptal/file_system/3238756440.txt
/content.Toptal/file_system/3238854699.txt
/content.Toptal/file_system/3244163263.txt
/content.Toptal/file_system/3246850267.txt
/content.Toptal/file_system/3248423321.txt
/content.Toptal/file_system/3257663987.txt
/content.Toptal/file_system/3259828302.txt
/content.Toptal/file_system/3264284067.txt
/content.Toptal/file_system/3268772366.txt
/content.Toptal/file_system/3269197920.txt
/content.Toptal/file_system/3269885967.txt
/content.Toptal/file_system/3273359485.txt
/content.Toptal/file_system/3274113211.txt
/content.Toptal/file_system/3277259148.txt
/content.Toptal/file_system/3279061144.txt
/content.Toptal/file_system/3279880660.txt
/content.Toptal/file_system/3291152848.txt
/content.Toptal/file_system/3294101542.txt
/content.Toptal/file_system/3299672168.txt
/content.Toptal/file_system/3320643687.txt
/content.Toptal/file_system/3320676502.txt
/content.Toptal/file_system/3321167915.txt
/content.Toptal/file_system/3331228255.txt
/content.Toptal/file_system/3333652760.txt
/content.Toptal/file_system/3333783886.txt
/content.Toptal/file_system/3334242620.txt
/content.Toptal/file_system/3334275345.txt
/content.Toptal/file_system/3334340838.txt
/content.Toptal/file_system/3334570015.txt
/content.Toptal/file_system/3337814120.txt
/content.Toptal/file_system/3338567822.txt
/content.Toptal/file_system/3338731610.txt
/content.Toptal/file_system/3339157505.txt
/content.Toptal/file_system/3339550928.txt
/content.Toptal/file_system/3339714607.txt
/content.Toptal/file_system/3340140582.txt
/content.Toptal/file_system/3345121351.txt
/content.Toptal/file_system/3348070401.txt
/content.Toptal/file_system/3348168705.txt
/content.Toptal/file_system/3354329394.txt
/content.Toptal/file_system/3354525707.txt
/content.Toptal/file_system/3354722351.txt
/content.Toptal/file_system/3354787954.txt
/content.Toptal/file_system/3354886184.txt
/content.Toptal/file_system/3354918936.txt
/content.Toptal/file_system/3355148658.txt
/content.Toptal/file_system/3381428567.txt
/content.Toptal/file_system/3388736458.txt
/content.Toptal/file_system/3390799888.txt
/content.Toptal/file_system/3402007747.txt
/content.Toptal/file_system/3415212279.txt
/content.Toptal/file_system/3427795146.txt
/content.Toptal/file_system/3438215202.txt
/content.Toptal/file_system/3438641153.txt
/content.Toptal/file_system/3440246786.txt
/content.Toptal/file_system/3450011884.txt
/content.Toptal/file_system/3450602823.txt
/content.Toptal/file_system/3451847144.txt
/content.Toptal/file_system/3452534832.txt
/content.Toptal/file_system/3468230764.txt
/content.Toptal/file_system/3470131431.txt
/content.Toptal/file_system/3470983629.txt
/content.Toptal/file_system/3471016380.txt
/content.Toptal/file_system/3473997966.txt
/content.Toptal/file_system/3474063485.txt
/content.Toptal/file_system/3474554986.txt
/content.Toptal/file_system/3484680247.txt
/content.Toptal/file_system/3487826664.txt
/content.Toptal/file_system/3495329976.txt
/content.Toptal/file_system/3499262171.txt
/content.Toptal/file_system/3526558429.txt
/content.Toptal/file_system/3529867330.txt
/content.Toptal/file_system/3533111422.txt
/content.Toptal/file_system/3537109076.txt
/content.Toptal/file_system/3537174536.txt
/content.Toptal/file_system/3538290219.txt
/content.Toptal/file_system/3538715613.txt
/content.Toptal/file_system/3539272487.txt
/content.Toptal/file_system/3543859250.txt
/content.Toptal/file_system/3544449189.txt
/content.Toptal/database/confluence_page_vectors/chroma.sqlite3
/content.Toptal/database/confluence_pages_sql.db
/content.Toptal/database/confluence_page_vectors/019ccc3a-e211-4967-9ec5-d635090a243c/data_level0.bin
/content.Toptal/database/confluence_page_vectors/019ccc3a-e211-4967-9ec5-d635090a243c/header.bin
/content.Toptal/transactional/qna_document_queue/qna_document_events/info
/content.Toptal/transactional/slack_feedback_queue/feedback_events/info
/content.Toptal/transactional/slack_question_queue/question_events/info
/content.Toptal/database/confluence_page_vectors/019ccc3a-e211-4967-9ec5-d635090a243c/length.bin
/content.Toptal/database/confluence_page_vectors/019ccc3a-e211-4967-9ec5-d635090a243c/link_lists.bin
/content.Toptal/transactional/qna_document_queue/qna_document_events/q00000
/content.Toptal/transactional/slack_feedback_queue/feedback_events/q00000
/content.Toptal/transactional/slack_question_queue/question_events/q00000
